<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icons8-coffee-beans-16.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>Hip Coffee Company</title>
</head>
<body>
    <div class='login-card'>
        <img src="/assets/cover.png" alt="Hip Coffee Co." id="title-image">
        <div class="login-options">
            <button class="button"><a href="/login"> Login</a></button>
            <button class="button"><a href="/signup"> New Team Members</a></button>
        </div>
    </div>
</body>
</html>