<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icons8-coffee-beans-16.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
    <title>Hip Coffee Company</title>
</head>
<body>
    <div>
        <div class="login-card">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <img src="/assets/cover.png" alt="Hip Coffee Co." id="title-image">
            <div class="form">
                <form class='login-form' action="/signup" method="POST">
                    <input type="text" name="userName" placeholder="Team Member Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password">
                    <input type="submit" name="login" class="login login-submit" value="Create Account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>