h1{
    color: red;
}

#title-image {
    width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@400;500&display=swap');

body::after {
    background: url(/assets/joshua-rodriguez-f7zm5TDOi4g-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
  }

.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 15em auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  font-family: 'Manuale'
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.login-card button {
    text-transform: uppercase;
    outline: 0;
    background: #0CC2A0;
    width: 45%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
}














/* from to-do template
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}